body{
	margin: 0;
	padding: 0;
	background-size: cover;
	background-attachment: fixed;
	font-family: sans-serif;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	width: auto;
}

a{
	color: black;
	display: inline-block;
	padding: 6px 1px 0px 1px;
	/*background-color: #221F1F;*/
}

/* Navigation Area*/

.nav{
	background-color: #292F33;
	overflow: visible;

}
.nav a{
	float: left;
	font-size: 16px;
	color: #55ACEE;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
	width: auto;
}

.nav a:hover{
	background-color: #66757F;
	color: #55ACEE;
}
/*.login-left{
	margin-left: 931px;
	float: right;
}*/
/*Header Area*/

header{
	display: block;
	box-sizing: inherit;
	text-align: center;
	background-color: #009688;
}
.container:after,:before{
	box-sizing: inherit;
}
.container{
	height: 560px;
	color: white;
	text-align: center;

}
footer{
	margin-top: auto;
	height: 60px;
	text-align: center;
	background-color: #292F33;
}
.footer{
	color: white;
}

button{
	border-radius: 4px;
  	background-color: #4285F4;
  	border: none;
  	color: #FFFFFF;
  	text-align: center;
  	font-size: 20px;
  	padding: 20px;
  	width: 180px;
  	transition: all 0.5s;
  	cursor: pointer;
  	margin-top: 20px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
